@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,300&display=swap');

@import 'colores';
@import 'mixings';

%center {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

%row {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

%background {
    background: rgb(48, 56, 104);
    background: linear-gradient(190deg, rgba(48, 56, 104, 1) 0%, rgba(111, 143, 200, 1) 35%, rgba(0, 212, 255, 1) 100%);    
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}

header {
    @extend %background;
    @extend %center;
    padding: 2.5rem;

    img {
        width: 250px;
        margin: 2rem;
    }

    h1 {
        font-size: 2rem;
        text-transform: uppercase;
        color: white;
    }

    @include mobile {
        padding: 1.5rem;

        img {
            width: 100px;
        }

        h1 {
            font-size: 1.4rem;
        }
    }
}

main {
    padding: 2rem;
}

.divider {
    height: 2px;
    width: 100%;
    background: $primary;
    margin: 4rem 0;
}

section {
    h2 {
        background-color: $primary;
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
        padding: 1rem 1rem;
        font-weight: 700;
        border-radius: 1.5rem;
        color: white;
    }

    h3 {
        font-size: 1.2rem;
        margin-bottom: 1.5rem;
        font-weight: 700;
        color: $primary;
    }

    a {
        background-color: $secondary;
        color: white;
        text-decoration: none;
        padding: 1rem 2rem;
        border-radius: 1rem;
        font-size: 1rem;

        &:hover {
            background-color: $info;
        }
    }

    img {
        width: 100%;
        max-width: 600px;
        overflow: hidden;
    }

    p {
        font-size: 1rem;
    }

    strong {
        color: $primary
    }

    @include mobile {
        h2 {
            font-size: 1.2rem;
            padding: 0.5rem 1rem;
        }

        h3 {
            font-size: 1rem;
        }

        a {
            font-size: 0.7rem;
            padding: 0.3rem 0.7rem;
            margin-bottom: 1rem;
        }

        img {
            width: 100%;
            overflow: hidden;
        }

        p {
            font-size: 0.7rem;
        }
    }
}

.text {
    @extend %center;
    padding: 0 1rem;
}

.paso {
    @extend %row;

    p {
        margin-bottom: 1rem;
    }

    &-reverse {
        flex-direction: row-reverse;
    }

    @include mobile {
        display: flex;
        flex-direction: column;
    }
}

.importante {
    h2 {
        font-weight: 700;
        font-size: 2rem;
    }

    ul {
        margin-bottom: 1rem;

        li {
            margin-bottom: 0.5rem;
            list-style: none;
        }
    }

    @include mobile {
        h2 {
            font-size: 0.7rem;
            padding: 0.5rem 0.7rem;
        }

        li {
            font-size: 0.7rem;
        }
    }
}

footer {
    background-color: black;
    @extend %center;
    color: white;
    padding: 2rem 0;

    .address {
        margin: 20px;

        h2 {
            margin-bottom: 10px;
        }
    }

    .email {
        margin: 20px;

        a {
            text-decoration: none;
            color: white;
        }
    }

    .phone {
        display: flex;
        justify-content: center;
        flex-direction: row;

        span {
            font-weight: bold;
        }

        &-link {
            margin-right: 15px;
        }
    }

    .whatsapp {
        color: green;
        text-decoration: none;
        margin-bottom: 20px;
    }

    .telegram {
        color: steelblue;
        text-decoration: none;
        margin-bottom: 20px;
    }

    @include mobile {
        h2 {
            font-size: 1.2rem;
        }
    }
}